[Desktop Entry]
Version=1.0
Type=Application
Name={{ product_info.name }}
Icon={{ created_ide_directory.path }}/{{ product_info.svgIconPath }}
Exec="{{ created_ide_directory.path }}/{{ product_info.launch.0.launcherPath }}" %f
Categories=Development;IDE
Terminal=false
StartupWMClass={{ product_info.launch.0.startupWmClass }}
Keywords=programming;programmer;development;developer;code;
StartupNotify=true
