[Desktop Entry]
Version=1.0
Type=Application
Name={{ product_info.name }}
Icon={{ jetbrains_installation_dir }}/{{ extracted_tarball.files.0 }}/{{ product_info.svgIconPath }}
Exec="{{ jetbrains_installation_dir }}/{{ extracted_tarball.files.0 }}/{{ product_info.launch.0.launcherPath }}" %f
Categories=Development;IDE
Terminal=false
StartupWMClass={{ product_info.launch.0.startupWmClass }}
Keywords=programming;programmer;development;developer;code;
StartupNotify=true
