[Desktop Entry]
Version=1.0
Type=Application
Name={{ jetbrains_ide[ide].name }}
Icon={{ ide_unpack_dir | expanduser }}/{{ ide }}/{{ jetbrains_ide[ide].icon }}
Exec="{{ ide_unpack_dir | expanduser }}/{{ ide }}/{{ jetbrains_ide[ide].executable }}" %f
Comment={{ jetbrains_ide[ide].comment }}
Categories=Development;IDE
Terminal=false
StartupWMClass={{ jetbrains_ide[ide].startup_wm_class }}
Keywords=programming;programmer;development;developer;code;
StartupNotify=true